<div>
                        
    <!-- USER HEAD -->
    <div class="px-4 pt-4">
        <h4 class="mb-0">My Profile</h4>
    </div>
    <!-- USER HEAD -->

    <!-- USER AVATAR -->
    <div class="text-center p-4 border-bottom"> 
        <div class="mb-4">
            <img src="{{ profile.image_url }}" class="rounded-circle avatar-lg img-thumbnail" alt="">
        </div>
        <h5 class="font-size-16 mb-1 text-truncate">{{ profile.user.username }}</h5>
        <p class="text-muted text-truncate mb-1">
            <i class="ri-record-circle-fill font-size-10 text-success mr-1 d-inline-block"></i> 
            Active
        </p>
    </div>
    <!-- USER AVATAR -->

    <!-- USER INFO -->
    <div class="p-4 user-profile-desc" data-simplebar="">
        
        <!-- PERSONAL SIGNATURE -->
        <div class="text-muted">
            <p class="mb-4">{{ profile.about_me }}</p>
        </div>
        <!-- PERSONAL SIGNATURE -->

        <!-- PERSONAL INFO -->
        <div id="profile-user-accordion-1" class="custom-accordion">
            
            <!-- ABOUT CARD -->
            <div class="card shadow-none border mb-2">

                <!-- ABOUT DROPDOWN -->
                <a href="#profile-user-collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="profile-user-collapseOne">
                    <div class="card-header" id="profile-user-headingOne">
                        <h5 class="font-size-14 m-0">
                            <i class="ri-user-2-line mr-2 align-middle d-inline-block"></i> 
                            About
                            <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                        </h5>
                    </div>
                </a>
                <!-- ABOUT DROPDOWN -->

                <!-- INFOMATION -->
                <div id="profile-user-collapseOne" class="collapse show" aria-labelledby="profile-user-headingOne" data-parent="#profile-user-accordion-1">
                    <div class="card-body">
                        <div><p class="text-muted mb-1">Name</p><h5 class="font-size-14">{{ profile.user.username }}</h5></div>
                        <div class="mt-4"><p class="text-muted mb-1">Email</p><h5 class="font-size-14">{{ profile.user.email }}</h5></div>
                        <div class="mt-4"><p class="text-muted mb-1">Location</p><h5 class="font-size-14 mb-0">{{ profile.location }}</h5></div>
                    </div>
                </div>
                <!-- INFOMATION -->

            </div>
            <!-- ABOUT CARD -->

            <!-- ATTACHED CARD -->
            <div class="card mb-1 shadow-none border">

                <!-- ATTACHED DROPDOWN -->
                <a href="#collapseTwo" class="text-dark collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="card-header" id="headingTwo">
                        <h5 class="font-size-14 m-0">
                            <i class="ri-attachment-line mr-2 align-middle d-inline-block"></i> Attached Files
                            <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                        </h5>
                    </div>
                </a>
                <!-- ATTACHED DROPDOWN -->

                <!-- ATTACHED CONTENT -->
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#profile-user-accordion"><div class="card-body">

                    <!-- ATTACHED FILE EXAMPLE -->
                    <div class="card p-2 border mb-2">
                        <div class="media align-items-center">
                            <div class="avatar-sm mr-3">
                                <div class="avatar-title bg-soft-primary text-primary rounded font-size-20">
                                    <i class="ri-file-text-fill"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-left">
                                    <h5 class="font-size-14 mb-1">admin_v1.0.zip</h5>
                                    <p class="text-muted font-size-13 mb-0">12.5 MB</p>
                                </div>
                            </div>

                            <div class="ml-4">
                                <ul class="list-inline mb-0 font-size-18">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="ri-download-2-line"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item dropdown">
                                        <a class="dropdown-toggle text-muted px-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ATTACHED FILE EXAMPLE -->
                    
                    <!-- ATTACHED IMAGE EXAMPLE -->
                    <div class="card p-2 border mb-2">
                        <div class="media align-items-center">

                            <div class="avatar-sm mr-3">
                                <div class="avatar-title bg-soft-primary text-primary rounded font-size-20">
                                    <i class="ri-image-fill"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-left">
                                    <h5 class="font-size-14 mb-1">Image-2.jpg</h5>
                                    <p class="text-muted font-size-13 mb-0">3.1 MB</p>
                                </div>
                            </div>

                            <div class="ml-4">
                                <ul class="list-inline mb-0 font-size-18">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="ri-download-2-line"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item dropdown">
                                        <a class="dropdown-toggle text-muted px-1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ATTACHED IMAGE EXAMPLE -->

                    
                </div></div>
                <!-- ATTACHED CONTENT -->

            </div>
            <!-- ATTACHED CARD -->

        </div>
        <!-- PERSONAL INFO -->

    </div>
    <!-- USER INFO -->

</div>
