{% load static %}

<div style="max-height: 100%;">
    
    <!-- CHAT HEAD -->
    <div class="p-4">

        <!-- TITLE -->
        <h4 class="mb-4">Chats</h4>
        <!-- TITLE -->

        <!-- SEARCH -->
        <div class="search-box chat-search-box">
            <div class="input-group mb-3 bg-light  input-group-lg rounded-lg">
                <div class="input-group-prepend">
                    <button class="btn btn-link text-muted pr-1 text-decoration-none" type="button">
                        <i class="ri-search-line search-icon font-size-18"></i>
                    </button>
                </div>
                <input type="text" class="form-control bg-light" placeholder="Search messages or users">
            </div> 
        </div>
        <!-- SEARCH -->

    </div>
    <!-- CHAT HEAD -->

    <!-- CHAT TOP -->
    <div class="p-4" dir="ltr">
        
        <h5 class="mb-3 px-3 font-size-16">Top</h5>

        <div class="owl-carousel owl-theme" id="user-status-carousel">
            
            <!-- ONE EXAMPLE -->
            {% for top_friend in top_friends %}
                <div class="item">
                    <a href="#" class="user-status-box">
                        <div class="avatar-xs mx-auto d-block chat-user-img online align-self-center mr-3">
                            <img src="{{top_friend.image_url}}" alt="user-img" class="img-fluid rounded-circle avatar-xs">
                        </div>
                        <h5 class="font-size-13 text-truncate mt-3 mb-1">{{top_friend.username}}</h5>
                    </a>
                </div>
            {% endfor %}
            <!-- ONE EXAMPLE -->

            <!-- ADD BUTTON -->
            <div class="item">
                <a href="#" class="user-status-box" data-toggle="modal" data-target="#addtop-exampleModal">
                    <div class="avatar-xs mx-auto d-block chat-user-img online align-self-center mr-3">
                        <img src="{% static "images/chat/add.png" %}" alt="user-img" class="img-fluid rounded-circle avatar-xs">
                    </div>
                    <h5 class="font-size-13 text-truncate mt-3 mb-1">Add</h5>
                </a>
            </div>      
            <!-- ADD BUTTON -->

            <!-- DELETE BUTTON -->
            <div class="item">
                <a href="#" class="user-status-box" data-toggle="modal" data-target="#deletetop-exampleModal">
                    <div class="avatar-xs mx-auto d-block chat-user-img online align-self-center mr-3">
                        <img src="{% static "images/chat/delete.png" %}" alt="user-img" class="img-fluid rounded-circle avatar-xs">
                    </div>
                    <h5 class="font-size-13 text-truncate mt-3 mb-1">Delete</h5>
                </a>
            </div>      
            <!-- DELETE BUTTON -->

        </div>
    </div>
    <!-- CHAT TOP -->

    <!-- ADD TOP FORM -->
    <div class="modal fade" id="addtop-exampleModal" tabindex="-1" role="dialog" aria-labelledby="addtop-exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form class="modal-content" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- ADD TOP HEAD -->
                <div class="modal-header">
                    <h5 class="modal-title font-size-16" id="addtop-exampleModalLabel">Add New Top Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- ADD TOP HEAD -->

                <!-- ADD TOP BODY -->
                <div class="modal-body p-4"><div>
                    <!-- TOPS -->
                    <div class="form-group" style="font-family: comicbd">
                        <label for="select-top-friends">Select Friends</label>
                        <select class="custom-select w-100" name="select_top_friends" id="select-top-friends" multiple>
                            {% for friend in friends %}
                                {% if friend not in top_friends %}
                                    <option value="{{ friend.username }}">{{ friend.username }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <!-- TOPS --> 
                </div></div>
                <!-- ADD TOP BODY -->

                <!-- ADD TOP BUTTON -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <!-- ADD TOP BUTTON -->

            </form>
        </div>
    </div>
    <!-- ADD TOP FORM -->

    <!-- DELETE TOP FORM -->
    <div class="modal fade" id="deletetop-exampleModal" tabindex="-1" role="dialog" aria-labelledby="deletetop-exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form class="modal-content" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- DELETE TOP HEAD -->
                <div class="modal-header">
                    <h5 class="modal-title font-size-16" id="deletetop-exampleModalLabel">Delete Top Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- DELETE TOP HEAD -->

                <!-- DELETE TOP BODY -->
                <div class="modal-body p-4"><div>
                    <!-- TOPS -->
                    <div class="form-group" style="font-family: comicbd">
                        <label for="delete-top-friends">Select Top Friends</label>
                        <select class="custom-select w-100" name="delete_top_friends" id="delete-top-friends" multiple>
                            {% for friend in top_friends %}
                                <option value="{{ friend.username }}">{{ friend.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- TOPS --> 
                </div></div>
                <!-- DELETE TOP BODY -->

                <!-- DELETE TOP BUTTON -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
                <!-- DELETE TOP BUTTON -->

            </form>
        </div>
    </div>
    <!-- DELETE TOP FORM -->

    <!-- CHAT RECENT -->
    <div class="px-3 pb-3 mt-4" >

        <!-- TITLE -->
        <h5 class="mb-3 px-3 font-size-16">Recent</h5>
        <!-- TITLE -->

        <!-- CHAT RECENT BODY -->
        <div class="chat-message-list">                                
            <ul class="list-unstyled chat-list chat-user-list">
            
                {% for friend in friends %}
                    <!-- CONNON EXAMPLE (TXT) (ONLINE)-->
                    <li><a href="{% url 'chat:chatfriend' friend_name=friend.username %}?{{'dark'}}={{dark}}">
                        <div class="media">
                        
                            <!-- AVATAR (ONLINE) -->
                            <div class="chat-user-img online align-self-center mr-3">
                                <img src="{{friend.image_url}}" class="rounded-circle avatar-xs" alt="">
                                <span class="user-status"></span>
                            </div>
                            <!-- AVATAR (ONLINE) -->
                            
                            <!-- RECENT MASSAGE -->
                            <div class="media-body overflow-hidden">
                                <h5 class="text-truncate font-size-15 mb-1">{{friend.username}}</h5>
                                {% comment %} <p class="chat-user-message text-truncate mb-0">Hey! there I'm available</p> {% endcomment %}
                            </div>
                            <!-- RECENT MASSAGE -->

                            <!-- RECENT TIME -->
                            {% comment %} <div class="font-size-11">05 min</div> {% endcomment %}
                            <!-- RECENT TIME -->

                        </div>
                    </a></li>
                    <!-- CONNON EXAMPLE (TXT) (ONLINE) -->
                {% endfor %}
            </ul>
        </div>
        <!-- CHAT RECENT BODY -->

    </div>
    <!-- CHAT RECENT -->
    
</div>

