<div>
                        
    <!-- GROUPS HEAD -->
    <div class="p-4">

        <!-- USER CHAT NAV -->
        <div class="user-chat-nav float-right">
            <div data-toggle="tooltip" data-placement="bottom" title="Create group">
                <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal" data-target="#addgroup-exampleModal">
                    <i class="ri-group-line mr-1"></i>
                </button>
            </div>
        </div>
        <!-- USER CHAT NAV -->

        <!-- GROUPS TITLE -->
        <h4 class="mb-4">Groups</h4>
        <!-- GROUPS TITLE -->


        <!-- CREATE GROUPS -->
        <div class="modal fade" id="addgroup-exampleModal" tabindex="-1" role="dialog" aria-labelledby="addgroup-exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <form class="modal-content" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- CREATE HEAD -->
                    <div class="modal-header">
                        <h5 class="modal-title font-size-16" id="addgroup-exampleModalLabel">Create New Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- CREATE HEAD -->

                    <!-- CREATE BODY -->
                    <div class="modal-body p-4">
                        <div>

                            <!-- GROUP NAME -->
                            <div class="form-group mb-4">
                                <label for="addgroupname-input">Group Name</label>
                                <input type="text" class="form-control" id="addgroupname-input" name="group_name" placeholder="Enter Group Name">
                            </div>
                            <!-- GROUP NAME -->

                            <!-- SELECT FRIENDS -->
                            <div class="form-group">
                                <label for="select-friends">Select Friends </label>
                                <select class="custom-select w-100" name="select_friends" id="select-friends" multiple style="font-family: comicbd">
                                    {% for friend in friends %}
                                        <option value="{{ friend.username }}">{{ friend.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- SELECT FRIENDS -->

                            <!-- AVATAR -->
                            <div class="form-group">
                                <label for="add-image">Add Group Image (Option)</label>
                                <input type="file" class="form-control upload-button" id="add-image" name="image" accept="image/*">
                            </div>
                            <!-- AVATAR -->

                            <!-- GROUP DESCRIPTION-->
                            <div class="form-group">
                                <label for="addgroupdescription-input">Description</label>
                                <textarea class="form-control" id="addgroupdescription-input" name="about_group" rows="3" placeholder="Enter Description"></textarea>
                            </div>
                            <!-- GROUP DESCRIPTION-->

                        </div>
                    </div>
                    <!-- CREATE BODY -->

                    <!-- CREATE BUTTON -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Groups</button>
                    </div>
                    <!-- CREATE BUTTON -->

                </form>
            </div>
        </div>
        <!-- CREATE GROUPS -->

        <!-- SEARCH BOX -->
        <div class="search-box chat-search-box">
            <div class="input-group bg-light  input-group-lg rounded-lg">
                <div class="input-group-prepend">
                    <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
                        <i class="ri-search-line search-icon font-size-18"></i>
                    </button>
                </div>
                <input type="text" class="form-control bg-light" placeholder="Search groups...">
            </div>
        </div>
        <!-- SEARCH BOX -->

    </div>
    <!-- GROUPS HEAD -->
        
    <!-- GROUP INFO -->
    <div class="p-4 chat-message-list chat-chatroom-list" data-simplebar="">

        <!-- TITLE -->
        <h5 class="mb-3 px-3 font-size-16">Own Groups</h5>
        <!-- TITLE -->

        <ul class="list-unstyled chat-list">
            {% for group in own_groups %}
            <!-- ONE EXAMPLE -->
            <li><a href="{% url 'chat:innergroup' group_uid=group.uid %}?{{'dark'}}={{dark}}"><div class="media align-items-center">
    
                <!-- SYMBOL IMG -->
                <div class="mr-3">
                    <img src="{{group.image_url}}" class="rounded-circle avatar-xs" alt="">
                </div>
                <!-- SYMBOL IMG -->
                    
                <!-- BODY -->
                <div class="media-body overflow-hidden">
                    <h5 class="text-truncate font-size-14 mb-0">{{ group.name }}</h5>
                </div>
                <!-- BODY -->
    
            </div></a></li>
            <!-- ONE EXAMPLE -->
            {% endfor %}
        </ul>
    
        <!-- TITLE -->
        <h5 class="mb-3 px-3 font-size-16" style="margin-top:20px">All Groups</h5>
        <!-- TITLE -->

        <ul class="list-unstyled chat-list">
            {% for group in in_groups %}
            <!-- ONE EXAMPLE -->
            <li><a href="{% url 'chat:innergroup' group_uid=group.uid %}?{{'dark'}}={{dark}}"><div class="media align-items-center">
    
                <!-- SYMBOL IMG -->
                <div class="mr-3">
                    <img src="{{group.image_url}}" class="rounded-circle avatar-xs" alt="">
                </div>
                <!-- SYMBOL IMG -->
                    
                <!-- BODY -->
                <div class="media-body overflow-hidden">
                    <h5 class="text-truncate font-size-14 mb-0">{{ group.name }}</h5>
                </div>
                <!-- BODY -->
    
            </div></a></li>
            <!-- ONE EXAMPLE -->
            {% endfor %}
        </ul>

    </div>
    <!-- GROUP INFO -->

   
</div>


{% if wrong_message != "" %}
<div class="error-box" style="width:250px; height:160px">
    <div class="error-body">
        <p>{{ wrong_message }}</p>
    </div>
    <div class="error-close">
        <button class="close-button" id="close">
            close
        </button>
    </div>
</div>
{% endif %}