<div>

    <!-- CONTACTS HEAD -->
    <div class="p-4">

        <!-- ADD BUTTON -->
        <div class="user-chat-nav float-right">
            <div data-toggle="tooltip" data-placement="bottom" title="Add Contact">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal" data-target="#addContact-exampleModal">
                    <i class="ri-user-add-line"></i>
                </button>
            </div>
        </div>
        <!-- ADD BUTTON -->

        <!-- CONTACTS TITLE -->
        <h4 class="mb-4">Contacts</h4>
        <!-- CONTACTS TITLE -->

        <!-- ADD FORM -->
        <div class="modal fade" id="addContact-exampleModal" tabindex="-1" role="dialog" aria-labelledby="addContact-exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <form class="modal-content" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- FORM HEAD -->
                    <div class="modal-header">
                        <h5 class="modal-title font-size-16" id="addContact-exampleModalLabel">Add Contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- FORM HEAD -->

                    <!-- FORM BODY -->
                    <div class="modal-body p-4">
                        <div>

                            <!-- EMAIL -->
                            <div class="form-group mb-4">
                                <label for="addcontactemail-input">Email</label>
                                <input type="email" class="form-control" id="addcontactemail-input" name="invite_email", placeholder="Enter Email">
                            </div>
                            <!-- EMAIL -->

                            <!-- INVITATE MESSAGE -->
                            <div class="form-group">
                                <label for="addcontact-invitemessage-input">Invatation Message</label>
                                <textarea class="form-control" id="addcontact-invitemessage-input" rows="3" name="invite_message", placeholder="Enter Message"></textarea>
                            </div>
                            <!-- INVITATE MESSAGE -->
                        
                        </div>
                    </div>
                    <!-- FORM BODY -->

                    <!-- FORM BUTTON -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Invite Contact</button>
                    </div>
                    <!-- FORM BUTTON -->

                </form>
            </div>
        </div>
        <!-- ADD FORM -->

        <!-- SEARCH -->
        <div class="search-box chat-search-box">
            <div class="input-group bg-light  input-group-lg rounded-lg">
                <div class="input-group-prepend">
                    <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
                        <i class="ri-search-line search-icon font-size-18"></i>
                    </button>
                </div>
                <input type="text" class="form-control bg-light " placeholder="Search users..">
            </div>
        </div>
        <!-- SEARCH -->

    </div>
    <!-- CONTACTS HEAD -->

    <!-- CONTACTS BODY -->
    <div class="p-4 chat-message-list chat-group-list">

        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item w-30"><a class="nav-link active ml-2 mr-2" id="pills-contacts-tab" data-toggle="pill" href="#pills-contacts" role="tab"> Contacts </a></li>
            <li class="nav-item w-30"><a class="nav-link ml-2 mr-2" id="pills-new-friends-tab" data-toggle="pill" href="#pills-new-friends" role="tab"> New </a></li>
            <li class="nav-item w-30"><a class="nav-link ml-2 mr-2" id="pills-sent-tab" data-toggle="pill" href="#pills-sent" role="tab"> Have Sent </a></li>
        </ul>
        <div class="tab-content">

            <!-- FRIEND -->
            <div class="tab-pane fade show active" id="pills-contacts" role="tabpanel" aria-labelledby="pills-contacts-tab">
                <div class="mt-3">
                    <ul class="list-unstyled contact-list">
                        {% for friend in friends %}   
                            <li><div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <h5 class="font-size-16 m-2" style="font-family: comicbd">
                                        {{friend.username}} 
                                    </h5>
                                </div>
                                <a style="margin:2px;" href="#" friend-name="{{friend.username}}" onclick="confirmDelete3(event)">
                                    <i class="ri-delete-bin-line"></i>
                                </a>
                                <a style="margin-left:10px; " data-toggle="modal" data-target="#friend-{{friend.username}}Modal">
                                    <i class="ri-eye-fill"></i>
                                </a>
                            </div></li>
                        {% endfor %}
                        <form id="deleteFriend" style="display: none;" action="{% url 'chat:contracts' %}?dark={{dark}}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="delete_friend_name" id="delete-friend-name">
                            <button type="submit" id="submit-delete-friend" class="btn btn-primary">submit</button>
                        </form>
                    </ul>
                </div>
            </div>
            <!-- FRIEND -->

            <!-- VIEW -->
            {% for friend in friends %}   
                <div class="modal fade" id="friend-{{friend.username}}Modal" tabindex="-1" role="dialog" aria-labelledby="friend-{{friend.username}}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <form class="modal-content" method="post">
                            {% csrf_token %}
        
                            <!-- FORM HEAD -->
                            <div class="modal-header">
                                <h5 class="modal-title font-size-16" id="friend-{{friend.username}}ModalLabel">View Friend Info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- FORM HEAD -->
        
                            <!-- FORM BODY -->
                            <div class="modal-body p-4">
                                <div>
                                    
                                    <input type="hidden" name="hidden_acc_fr_uid" value="{{fr.uid}}">

                                    <!-- AVATAR -->
                                    <div class="d-flex justify-content-center">
                                        <img src="{{ friend.image_url }}" class="rounded-circle avatar-lg img-thumbnail" alt="">
                                    </div>
                                    <!-- AVATAR -->

                                    <!-- NAME -->
                                    <div class="d-flex justify-content-center">
                                        <h1 class="font-size-16 m-2" style="font-family: comicbd"> {{ friend.username }} </h1>
                                    </div>

                                    <div>
                                        <h1 class="font-size-18 m-2" style="font-family: comicbd">  About: </h1>
                                        <p class="font-size-16" style="font-family: comicbd; margin-left:10%;"> {{ friend.about_me }} </p>
                                    </div>
                                    <!-- NAME -->
                                
                                </div>
                            </div>
                            <!-- FORM BODY -->
        
                            <!-- FORM BUTTON -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            </div>
                            <!-- FORM BUTTON -->
        
                        </form>
                    </div>
                </div>
            {% endfor %}
            <!-- VIEW -->

            <!-- RECEIVE -->
            <div class="tab-pane fade" id="pills-new-friends" role="tabpanel" aria-labelledby="pills-new-friends-tab">
                <div class="mt-3">
                    <ul class="list-unstyled contact-list">
                        {% for fr in new_friends %}   
                            <li><div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <h5 class="font-size-16 m-2" style="font-family: comicbd">
                                        {{fr.from_user}} 
                                    </h5>
                                </div>
                                <a style="margin:2px;" href="#" fr-uid="{{fr.uid}}" onclick="confirmDelete2(event)">
                                    <i class="ri-delete-bin-line"></i>
                                </a>
                                <a style="margin-left:10px; " data-toggle="modal" data-target="#accept-friend-{{fr.to_user.username}}Modal">
                                    <i class="ri-eye-fill"></i>
                                </a>
                            </div></li>
                        {% endfor %}
                        <form id="deleteForm" style="display: none;" action="{% url 'chat:contracts' %}?dark={{dark}}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="fr_uid" id="fr-uid-input">
                            <button type="submit" id="submit-fr-uid" class="btn btn-primary">submit</button>
                        </form>
                    </ul>
                </div>
            </div>
            <!-- RECEIVE -->

            <!-- ACCEPT -->
            {% for fr in new_friends %}   
                <div class="modal fade" id="accept-friend-{{fr.to_user.username}}Modal" tabindex="-1" role="dialog" aria-labelledby="accept-friend-{{fr.to_user.username}}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <form class="modal-content" method="post">
                            {% csrf_token %}
        
                            <!-- FORM HEAD -->
                            <div class="modal-header">
                                <h5 class="modal-title font-size-16" id="accept-friend-{{fr.to_user.username}}ModalLabel">Accept New Friend</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- FORM HEAD -->
        
                            <!-- FORM BODY -->
                            <div class="modal-body p-4">
                                <div>
                                    
                                    <input type="hidden" name="hidden_acc_fr_uid" value="{{fr.uid}}">

                                    <!-- AVATAR -->
                                    <div class="d-flex justify-content-center">
                                        <img src="{{ fr.from_user_profile.image_url }}" class="rounded-circle avatar-lg img-thumbnail" alt="">
                                    </div>
                                    <!-- AVATAR -->

                                    <!-- NAME -->
                                    <div class="d-flex justify-content-center">
                                        <h1 class="font-size-16 m-2" style="font-family: comicbd"> {{ fr.from_user.username }} </h1>
                                    </div>

                                    <div>
                                        <h1 class="font-size-18 m-2" style="font-family: comicbd">  Message: </h1>
                                        <p class="font-size-16" style="font-family: comicbd; margin-left:10%;"> {{ fr.invite_message }} </p>
                                    </div>
                                    <!-- NAME -->
                                
                                </div>
                            </div>
                            <!-- FORM BODY -->
        
                            <!-- FORM BUTTON -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Accept</button>
                            </div>
                            <!-- FORM BUTTON -->
        
                        </form>
                    </div>
                </div>
            {% endfor %}
            <!-- ACCEPT -->
            
            <!-- HAVE SENT -->
            <div class="tab-pane fade" id="pills-sent" role="tabpanel" aria-labelledby="pills-sent-tab">
                <div class="mt-3">
                    <ul class="list-unstyled contact-list">
                        {% for fr in have_sent %}   
                            <li><div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <h5 class="font-size-16 m-2" style="font-family: comicbd">
                                        {{fr.to_user}} 
                                    </h5>
                                </div>
                                <a style="margin-left:10px; " data-toggle="modal" data-target="#have-sent-{{fr.to_user.username}}Modal">
                                    <i class="ri-eye-fill"></i>
                                </a>
                            </div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- HAVE SENT -->

            <!-- SENT INFO -->
            {% for fr in have_sent %}   
                <div class="modal fade" id="have-sent-{{fr.to_user.username}}Modal" tabindex="-1" role="dialog" aria-labelledby="have-sent-{{fr.to_user.username}}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <form class="modal-content">
                            {% csrf_token %}
        
                            <!-- FORM HEAD -->
                            <div class="modal-header">
                                <h5 class="modal-title font-size-16" id="have-sent-{{fr.to_user.username}}ModalLabel">Invitation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- FORM HEAD -->
        
                            <!-- FORM BODY -->
                            <div class="modal-body p-4">
                                <div>
        
                                    <!-- AVATAR -->
                                    <div class="d-flex justify-content-center">
                                        <img src="{{ fr.from_user_profile.image_url }}" class="rounded-circle avatar-lg img-thumbnail" alt="">
                                    </div>
                                    <!-- AVATAR -->

                                    <!-- NAME -->
                                    <div class="d-flex justify-content-center">
                                        <h1 class="font-size-16 m-2" style="font-family: comicbd"> {{ fr.from_user.username }} </h1>
                                    </div>

                                    <div>
                                        <h1 class="font-size-18 m-2" style="font-family: comicbd">  Message: </h1>
                                        <p class="font-size-16" style="font-family: comicbd; margin-left:10%;"> {{ fr.invite_message }} </p>
                                    </div>
                                    <!-- NAME -->
                                
                                </div>
                            </div>
                            <!-- FORM BODY -->
        
                            <!-- FORM BUTTON -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            </div>
                            <!-- FORM BUTTON -->
        
                        </form>
                    </div>
                </div>
            {% endfor %}
            <!-- SENT INFO -->

        </div>
    </div>
    <!-- CONTACTS BODY -->
 
</div>

{% if wrong_message != "" %}
<div class="error-box" style="width:250px; height:160px">
    <div class="error-body">
        <p>{{ wrong_message }}</p>
    </div>
    <div class="error-close">
        <button class="close-button" id="close">
            close
        </button>
    </div>
</div>
{% endif %}