<div>

    <div class="float-right" style="margin:10px; margin-top:20px; margin-right:20px;" data-toggle="modal" data-target="#edit-exampleModal">
        <button type="button" class="btn btn-light btn-sm"><i class="ri-edit-fill mr-1 align-middle"></i> Edit</button>
    </div>

    <div class="modal fade" id="edit-exampleModal" tabindex="-1" role="dialog" aria-labelledby="edit-exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form class="modal-content" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- FORM HEAD -->
                <div class="modal-header">
                    <h5 class="modal-title font-size-16" id="edit-exampleModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- FORM HEAD -->

                <!-- FORM BODY -->
                <div class="modal-body p-4">
                    <div>

                        <!-- PERSONAL SIGNATURE -->
                        <div class="form-group mb-4">
                            <label for="edit-personal-signature">Personal Signature</label>
                            <textarea class="form-control" id="edit-personal-signature" name="about_me" 
                                rows="3" placeholder="Enter Personal Signature"></textarea>
                        </div>
                        <!-- PERSONAL SIGNATURE -->

                        <!-- CHANGE AVATAR -->
                        <div class="form-group">
                            <label for="change-avatar">Upload Avatar Image(Do not exceed 5M)</label>
                            <input type="file" class="form-control upload-button" id="change-avatar" name="image" accept="image/*">
                        </div>
                        <!-- CHANGE AVATAR -->

                        <!-- CHANGE LOCATION -->
                        <div class="form-group">
                            <label for="change-location">Location</label>
                            <input type="text" class="form-control" id="change-location" name="location" placeholder="Enter Location">
                        </div>
                        <!-- CHANGE LOCATION -->
                    
                    </div>
                </div>
                <!-- FORM BODY -->

                <!-- FORM BUTTON -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!-- FORM BUTTON -->

            </form>
        </div>
    </div>

    <!-- SETTINGS TITLE -->
    <div class="px-4 pt-4">
        <h4 class="mb-0">Settings</h4>
    </div>
    <!-- SETTINGS TITLE -->

    <!-- SETTINGS AVATAR -->
    <div class="text-center border-bottom p-4">
        
        <!-- AVATAR -->
        <div class="mb-4 profile-user">
            <img src="{{ profile.image_url }}" class="rounded-circle avatar-lg img-thumbnail" alt="">
            <button type="button" class="btn bg-light avatar-xs p-0 rounded-circle profile-photo-edit" data-toggle="modal" data-target="#edit-exampleModal">
                <i class="ri-pencil-fill"></i>
            </button>
        </div>
        <!-- AVATAR -->

        <!-- NAME -->
        <h5 class="font-size-16 mb-1 text-truncate">{{ profile.user.username }}</h5>
        <!-- NAME -->

        <!-- STATUS -->
        <div class="dropdown d-inline-block mb-1">
            <a class="text-muted dropdown-toggle pb-1 d-block" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Available <i class="mdi mdi-chevron-down"></i>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Available</a>
                <a class="dropdown-item" href="#">Busy</a>
            </div>
        </div>
        <!-- STATUS -->

    </div>
    <!-- SETTINGS AVATAR -->

    <!-- SETTINGS BODY -->
    <div class="p-4 user-profile-desc" data-simplebar="">

        <!-- SIGNATURE -->
        <div class="text-muted">
            <p class="mb-4">{{ profile.about_me }}</p>
        </div>
        <!-- SIGNATURE -->

        <div id="profile-setting-accordion" class="custom-accordion">

            <!-- PERSONAL INFO -->
            <div class="card shadow-none border mb-2">

                <!-- CARD TITLE -->
                <a href="#profile-setting-personalinfocollapse" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="profile-setting-personalinfocollapse">
                    <div class="card-header" id="profile-setting-personalinfoheading">
                        <h5 class="font-size-14 m-0">
                            Personal Info
                            <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                        </h5>
                    </div>
                </a>
                <!-- CARD TITLE -->

                <!-- CARD BODY -->
                <div id="profile-setting-personalinfocollapse" class="collapse show" aria-labelledby="profile-setting-personalinfoheading" data-parent="#profile-setting-accordion">
                    <div class="card-body">
                        <div><p class="text-muted mb-1">Name</p><h5 class="font-size-14">{{ profile.user.username }}</h5></div>
                        <div class="mt-4"><p class="text-muted mb-1">Email</p><h5 class="font-size-14">{{ profile.user.email }}</h5></div>
                        <div class="mt-4"><p class="text-muted mb-1">Location</p><h5 class="font-size-14 mb-0">{{ profile.location }}</h5></div>
                    </div>
                </div>
                <!-- CARD BODY -->

            </div>
            <!-- PERSONAL INFO -->

            <!-- PERIVACY -->
            <div class="card shadow-none border mb-2">
                
                <!-- CARD TITLE -->
                <a href="#profile-setting-privacycollapse" class="text-dark collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="profile-setting-privacycollapse">
                    <div class="card-header" id="profile-setting-privacyheading">
                        <h5 class="font-size-14 m-0">
                            Privacy
                            <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                        </h5>
                    </div>
                </a>
                <!-- CARD TITLE -->

                <!-- CARD BODY -->
                <div id="profile-setting-privacycollapse" class="collapse" aria-labelledby="profile-setting-privacyheading" data-parent="#profile-setting-accordion">
                    <div class="card-body">

                        <!-- PROFILE PHOTO -->
                        <div class="py-3">
                            <div class="media align-items-center">
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-13 mb-0 text-truncate">Profile photo</h5>
                                </div>
                                <div class="dropdown ml-2">
                                    <button class="btn btn-light btn-sm dropdown-toggle w-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Everyone <i class="mdi mdi-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Everyone</a>
                                        <a class="dropdown-item" href="#">selected</a>
                                        <a class="dropdown-item" href="#">Nobody</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- PROFILE PHOTO -->

                        <!-- LAST SEEN -->
                        <div class="py-3 border-top">
                            <div class="media align-items-center">
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-13 mb-0 text-truncate">Last seen</h5>
                                </div>
                                <div class="ml-2">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="privacy-lastseenSwitch" checked="">
                                        <label class="custom-control-label" for="privacy-lastseenSwitch"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- LAST SEEN -->

                        <!-- STATUS -->
                        <div class="py-3 border-top">
                            <div class="media align-items-center">
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-13 mb-0 text-truncate">Status</h5>
                                </div>
                                <div class="dropdown ml-2">
                                    <button class="btn btn-light btn-sm dropdown-toggle w-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Everyone <i class="mdi mdi-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Everyone</a>
                                        <a class="dropdown-item" href="#">selected</a>
                                        <a class="dropdown-item" href="#">Nobody</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- STATUS -->

                        <!-- READ RECEIPTS -->
                        <div class="py-3 border-top">
                            <div class="media align-items-center">
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-13 mb-0 text-truncate">Read receipts</h5>
                                </div>
                                <div class="ml-2">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="privacy-readreceiptSwitch" checked="">
                                        <label class="custom-control-label" for="privacy-readreceiptSwitch"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- READ RECEIPTS -->

                        <!-- GROUPS -->
                        <div class="py-3 border-top">
                            <div class="media align-items-center">
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-13 mb-0 text-truncate">Groups</h5>
                                </div>
                                <div class="dropdown ml-2">
                                    <button class="btn btn-light btn-sm dropdown-toggle w-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Everyone <i class="mdi mdi-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Everyone</a>
                                        <a class="dropdown-item" href="#">selected</a>
                                        <a class="dropdown-item" href="#">Nobody</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- GROUPS -->

                    </div>

                </div>
                <!-- CARD BODY -->

            </div>
            <!-- PERIVACY -->

            <!-- SECURITY -->
            <div class="card shadow-none border mb-2">

                <!-- CARD TITLE -->
                <a href="#profile-setting-securitynoticollapse" class="text-dark collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="profile-setting-securitynoticollapse">
                    <div class="card-header" id="profile-setting-securitynotiheading">
                        <h5 class="font-size-14 m-0">
                            Security
                            <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                        </h5>
                    </div>
                </a>
                <!-- CARD TITLE -->

                <!-- CARD BODY -->
                <div id="profile-setting-securitynoticollapse" class="collapse" aria-labelledby="profile-setting-securitynotiheading" data-parent="#profile-setting-accordion">
                    <div class="card-body">
                        <div class="media align-items-center">

                            <!-- TITLE -->
                            <div class="media-body overflow-hidden">
                                <h5 class="font-size-13 mb-0 text-truncate">Change password</h5>
                            </div>
                            <!-- TITLE -->

                            <!-- CHANGE BUTTON -->
                            <div class="user-chat-nav float-right">
                                <div data-toggle="tooltip" data-placement="bottom" title="Change password">
                                    <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal" data-target="#changepsw-exampleModal">
                                        <i class="ri-key-2-line"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- CHANGE BUTTON -->



                        </div>
                    </div>
                </div>
                <!-- CARD BODY -->
            </div>
            <!-- SECURITY -->

            <!-- HELP -->
            <div class="card shadow-none border mb-2">

                <!-- CARD TITLE -->
                <a href="#profile-setting-helpcollapse" class="text-dark collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="profile-setting-helpcollapse">
                    <div class="card-header" id="profile-setting-helpheading">
                        <h5 class="font-size-14 m-0">
                            Help
                            <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                        </h5>
                    </div>
                </a>
                <!-- CARD TITLE -->

                <!-- CARD BODY -->
                <div id="profile-setting-helpcollapse" class="collapse" aria-labelledby="profile-setting-helpheading" data-parent="#profile-setting-accordion">
                    <div class="card-body">

                        <div>
                            <div class="py-3">
                                <h5 class="font-size-13 mb-0"><a href="#" class="text-body d-block">FAQs</a></h5>
                            </div>
                            <div class="py-3 border-top">
                                <h5 class="font-size-13 mb-0"><a href="#" class="text-body d-block">Contact</a></h5>
                            </div>
                            <div class="py-3 border-top">
                                <h5 class="font-size-13 mb-0"><a href="#" class="text-body d-block">Terms & Privacy policy</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD BODY -->

            </div>
            <!-- HELP -->

        </div>
        <!-- end profile-setting-accordion -->
    </div>
    <!-- SETTINGS BODY -->

    <!-- CHANGE FORM FOR SETTINGS BODY'S SECURITY-->
    <div class="modal fade" id="changepsw-exampleModal" tabindex="-1" role="dialog" aria-labelledby="changepsw-exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form class="modal-content" method="post" action="">
                {% csrf_token %}

                <!-- FORM HEAD -->
                <div class="modal-header">
                    <h5 class="modal-title font-size-16" id="changepsw-exampleModalLabel">Change password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- FORM HEAD -->

                <!-- FORM BODY -->
                <div class="modal-body p-4">
                    <div>
                        <div class="form-group mb-4">
                            <label for="old-password-input">Old Password</label>
                            <input type="password" class="form-control" id="old-password-input" name="old_password" placeholder="Enter Old Password">
                        </div>

                        <div class="form-group mb-4">
                            <label for="new-password-input">New Password</label>
                            <input type="password" class="form-control" id="new-password-input" name="new_password" placeholder="Enter New Password">
                        </div>

                        <div class="form-group mb-4">
                            <label for="confirm-password-input">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm-password-input" name="confirm_password" placeholder="Confirm Password">
                        </div>
                    </div>

                </div>
                <!-- FORM BODY -->

                <!-- FORM BUTTON -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!-- FORM BUTTON -->

            </form>
        </div>
    </div>
    <!-- CHANGE FORM FOR STTINGS BODY'S SECURITY-->

</div>

{% if wrong_message != "" %}
<div class="error-box" style="width:250px; height:160px">
    <div class="error-body">
        <p>{{ wrong_message }}</p>
    </div>
    <div class="error-close">
        <button class="close-button" id="close">
            close
        </button>
    </div>
</div>
{% endif %}
