.waves-effect.waves-circle{
    text-align:center;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    border-radius:50%;
}

.waves-float{
    -webkit-mask-image:none;
    -webkit-box-shadow:0 1px 1.5px 1px rgba(0,0,0,.12);
    box-shadow:0 1px 1.5px 1px rgba(0,0,0,.12);
    -webkit-transition:all .3s;
    transition:all .3s;
}

.waves-float:active{
    -webkit-box-shadow:0 8px 20px 1px rgba(0,0,0,.3);
    box-shadow:0 8px 20px 1px rgba(0,0,0,.3);
}

.waves-block{
    display:block;
}

.waves-effect.waves-light .waves-ripple{
    background-color:rgba(255,255,255,.4);
}

.waves-effect.waves-primary .waves-ripple{
    background-color:rgba(114,105,239,.4);
}

.waves-effect.waves-success .waves-ripple{
    background-color:rgba(6,214,160,.4);
}

.waves-effect.waves-info .waves-ripple{
    background-color:rgba(80,165,241,.4);
}

.waves-effect.waves-warning .waves-ripple{
    background-color:rgba(255,209,102,.4);
}

.waves-effect.waves-danger .waves-ripple{
    background-color:rgba(239,71,111,.4);
}

.avatar-xs{
    height:2.2rem;
    width:2.2rem;
}

.avatar-sm{
    height:3rem;
    width:3rem;
}

.avatar-md{
    height:4.5rem;
    width:4.5rem;
}

.avatar-lg{
    height:6rem;
    width:6rem;
}

.avatar-xl{
    height:7.5rem;
    width:7.5rem;
}

.avatar-title{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:#7269ef;
    color:#fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    font-weight:500;
    height:100%;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    width:100%;
}

.font-size-10{
    font-size:10px!important;
}

.font-size-11{
    font-size:11px!important;
}

.font-size-12{
    font-size:12px!important;
}

.font-size-13{
    font-size:13px!important;
}

.font-size-14{
    font-size:14px!important;
}

.font-size-15{
    font-size:15px!important;
}

.font-size-16{
    font-size:16px!important;
}

.font-size-17{
    font-size:17px!important;
}

.font-size-18{
    font-size:18px!important;
}

.font-size-20{
    font-size:20px!important;
}

.font-size-22{
    font-size:22px!important;
}

.font-size-24{
    font-size:24px!important;
}

.font-weight-medium{
    font-weight:500;
}

.font-weight-semibold{
    font-weight:600;
}

.social-list-item{
    height:2rem;
    width:2rem;
    line-height:calc(2rem - 4px);
    display:block;
    border:2px solid #adb5bd;
    border-radius:50%;
    color:#adb5bd;
    text-align:center;
    -webkit-transition:all .4s;
    transition:all .4s;
}

.social-list-item:hover{
    color:#7a7f9a;
    background-color:#f5f7fb;
}

.w-xs{
    min-width:80px;
}

.w-sm{
    min-width:95px;
}

.w-md{
    min-width:110px;
}

.w-lg{
    min-width:140px;
}

.w-xl{
    min-width:160px;
}




.custom-checkbox-primary .custom-control-input:checked~.custom-control-label:before,
.custom-radio-primary .custom-control-input:checked~.custom-control-label:before {
    background-color: #7269ef;
    border-color: #7269ef;
}

.custom-checkbox-secondary .custom-control-input:checked~.custom-control-label:before,
.custom-radio-secondary .custom-control-input:checked~.custom-control-label:before {
    background-color: #7a7f9a;
    border-color: #7a7f9a;
}

.custom-checkbox-success .custom-control-input:checked~.custom-control-label:before,
.custom-radio-success .custom-control-input:checked~.custom-control-label:before {
    background-color: #06d6a0;
    border-color: #06d6a0;
}

.custom-checkbox-info .custom-control-input:checked~.custom-control-label:before,
.custom-radio-info .custom-control-input:checked~.custom-control-label:before {
    background-color: #50a5f1;
    border-color: #50a5f1;
}

.custom-checkbox-warning .custom-control-input:checked~.custom-control-label:before,
.custom-radio-warning .custom-control-input:checked~.custom-control-label:before {
    background-color: #ffd166;
    border-color: #ffd166;
}

.custom-checkbox-danger .custom-control-input:checked~.custom-control-label:before,
.custom-radio-danger .custom-control-input:checked~.custom-control-label:before {
    background-color: #ef476f;
    border-color: #ef476f;
}

.custom-checkbox-pink .custom-control-input:checked~.custom-control-label:before,
.custom-radio-pink .custom-control-input:checked~.custom-control-label:before {
    background-color: #e83e8c;
    border-color: #e83e8c;
}

.custom-checkbox-light .custom-control-input:checked~.custom-control-label:before,
.custom-radio-light .custom-control-input:checked~.custom-control-label:before {
    background-color: #e6ebf5;
    border-color: #e6ebf5;
}

.custom-checkbox-dark .custom-control-input:checked~.custom-control-label:before,
.custom-radio-dark .custom-control-input:checked~.custom-control-label:before {
    background-color: #343a40;
    border-color: #343a40;
}

.custom-checkbox-dark .custom-control-input:checked~.custom-control-label:before,
.custom-radio-dark .custom-control-input:checked~.custom-control-label:before {
    color: #343a40;
}

.custom-control-label {
    cursor: pointer;
}

.custom-switch-md {
    padding-left: 3rem;
}

.custom-switch-md .custom-control-label {
    line-height: 20px;
}

.custom-switch-md .custom-control-label:before {
    width: 40px;
    height: 20px;
    border-radius: 30px;
    left: -3rem;
}

