.side-menu {
    min-width: 75px;
    max-width: 75px;
    height: 100vh;
    min-height: 570px;
    background-color: #36404a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9;
    -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, .12);
    box-shadow: 0 2px 4px rgba(15, 34, 58, .12);
}

@media (max-width: 991.98px) {
    .side-menu {
        position: fixed;
        bottom: 0;
        height: 60px;
        min-width: 100%;
        min-height: auto;
        display: block;
        border-top: 1px solid #36404a;
    }
}

.side-menu .navbar-brand-box {
    text-align: center;
}

@media (max-width: 991.98px) {
    .side-menu .navbar-brand-box {
        display: none;
    }
}

.side-menu .navbar-brand-box .logo {
    line-height: 70px;
}

.side-menu .navbar-brand-box .logo-dark {
    display: none;
}

.side-menu .navbar-brand-box .logo-light {
    display: block;
}

.side-menu .theme-mode-icon:before {
    content: "";
}

.side-menu-nav .nav-item {
    margin: 7px 0;
}

@media (max-width: 991.98px) {
    .side-menu-nav .nav-item {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin: 5px 0;
    }
}

.side-menu-nav .nav-item .nav-link {
    text-align: center;
    font-size: 24px;
    color: #a6b0cf;
    width: 56px;
    height: 56px;
    line-height: 56px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 0;
}

@media (max-width: 991.98px) {
    .side-menu-nav .nav-item .nav-link {
        font-size: 20px;
        width: 48px;
        height: 48px;
        line-height: 48px;
    }
}

.side-menu-nav .nav-item .nav-link.active {
    background-color: #3e4a56;
    color: #7269ef;
}

.side-menu-nav .nav-item.show > .nav-link {
    background-color: #3e4a56;
    color: #7269ef;
}

.side-menu-nav .profile-user {
    height: 36px;
    width: 36px;
    background-color: #36404a;
    padding: 3px;
}

.chat-leftsidebar {
    height: 100vh;
    background-color: #303841;
}