{% load static %}
<div id="hidden-container" style="display: none;">
    {{users_img_urls_json}}
</div>
<div id="hidden-container2" style="display: none;">
    {{profile.user.username}}
</div>

<div class="w-100">
    <div role="main-inner-wrapper" class="container">
        <div class="row">
            <!--
            <figure role="guide-content"> 

                <h1 role="guide-content">
                <a href="https://www.baidu.com/" title="百度" target="_blank">
                    <img src="{% static 'images/chat/baidu.png' %}" title="百度" alt="百度" class="guide-img"/>
                </a>
                <p>百度</p>
                </h1>

                <h1>
                <a href="https://mail.sjtu.edu.cn/zimbra" title="交大邮箱" target="_blank">
                    <img src="{% static 'images/chat/j-mail.png' %}" title="交大邮箱" alt="交大邮箱" class="guide-img"/>
                </a>
                <p>交大邮箱</p>
                </h1>

                <h1>
                <a href="https://jbox.sjtu.edu.cn" title="交大云盘" target="_blank">
                    <img src="{% static 'images/chat/jbox.png' %}" title="交大云盘" alt="交大云盘" class="guide-img"/>
                </a>
                <p>交大云盘</p>
                </h1>

                <h1>
                <a href="https://poe.com/Sage" title="sage" target="_blank">
                    <img src="{% static 'images/chat/sage.png' %}" title="sage" alt="sage" class="guide-img"/>
                </a>
                <p>sage</p>
                </h1>

                <h1 role="guide-content">
                <a href="https://www.bing.com/" title="CSDN" target="_blank">
                    <img src="{% static 'images/chat/csdn.png' %}" title="CSDN" alt="CSDN" class="guide-img"/>
                </a>
                <p>CSDN</p>
                </h1>

                <h1>
                <a href="https://www.bilibili.com/" title="bilibili" target="_blank">
                    <img src="{% static 'images/chat/bilibili.png' %}" title="bilibili" alt="bilibili" class="guide-img"/>
                </a>
                <p>bilibili</p>
                </h1>

            </figure>
            -->

            <div class="clearfix"></div>

            <figure role="guide-content">
                <h1>
                    <a href="https://i.sjtu.edu.cn/xtgl/login_slogin.html" title="学信网" target="_blank">
                        <img src="{% static 'images/chat/sjtu.png' %}" title="学信网" alt="学信网" class="guide-img"/>
                    </a>
                    <p>学信网</p>
                </h1>

                {% for link in links %}
                  {% if forloop.counter|divisibleby:6 %}
                    </figure>
                    <figure role="guide-content">
                  {% endif %}
                  <h1>
                  <a href= {{link.url}}  target="_blank" title={{link.name}}>
                      <img src={{link.image_url}} class="guide-img" title={{link.name}} alt={{link.name}}>                         
                  </a>
                  <p>{{ link.name }}</p>
                  </h1>
                {% endfor %}
                

                  <!-- add -->
                  <h1> 
                    <a data-toggle="modal" data-target="#addweb-Modal"> 
                      <img src="{% static "images/chat/jia.png" %}" alt="add" class="guide-img" 
                      style="width: 70px; height: 70px; margin-left: 10px; margin-right: 10px; "/>
                    </a>
                    <p>添加</p>
                  </h1> 


                  <!-- delete -->
                  <h1> 
                    <a data-toggle="modal" data-target="#deleteweb-Modal"> 
                      <img src="{% static "images/chat/jian.png" %}" alt="delete" class="guide-img" 
                      style="width: 70px; height: 70px; margin-left: 10px; margin-right: 10px; "/>
                    </a>
                    <p>删除</p>
                  </h1> 

                  <div class="modal fade" id="addweb-Modal" tabindex="-1" role="dialog" aria-labelledby="addweb-Modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <form class="modal-content" method="post" action="{% url 'chat:my' %}?dark={{dark}}">
                            {% csrf_token %}
                            <!-- ADD HEAD -->
                            <div class="modal-header">
                                <h5 class="modal-title font-size-16" id="addweb-Modal">Add New Website</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- ADD HEAD -->
        
                            <!-- ADD BODY -->
                            <div class="modal-body p-4">
                                <div>
        
                                    <!-- NAME -->
                                    <div class="form-chatroom mb-4">
                                        <label for="addwebname-input">Name</label>
                                        <input type="text" class="form-control" id="addwebname-input" name="add_name" placeholder="Enter name of the website">
                                    </div>
                                    <!-- NAME -->
        
                                    <!-- LINK -->
                                    <div class="form-chatroom mb-4">
                                        <label for="addweblink-input">Link</label>
                                        <input type="text" class="form-control" id="addweblink-input" name="add_link" placeholder="Enter link of the website">
                                    </div>
                                    <!-- LINK -->
        
                                </div>
                            </div>
                            <!-- ADD BODY -->
        
                            <!-- ADD BUTTON -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Website</button>
                            </div>
                            <!-- ADD BUTTON -->
        
                        </form>
                    </div>
                </div>

                <div class="modal fade" id="deleteweb-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteweb-Modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <form class="modal-content" method="post" action="{% url 'chat:my' %}?dark={{dark}}">
                            {% csrf_token %}
                            <!-- HEAD -->
                            <div class="modal-header">
                                <h5 class="modal-title font-size-16" id="addweb-Modal">Delete Website</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- HEAD -->
        
                            <!-- BODY -->
                            <div class="modal-body p-4">
                                <div>
        
                                    <!-- NAME -->
                                    <div class="form-chatroom mb-4">
                                        <label for="deletewebname-input">Name</label>
                                        <input type="text" class="form-control" id="deletewebname-input" name="delete_name" placeholder="Enter name of the website">
                                    </div>
                                    <!-- NAME -->
        
                                </div>
                            </div>
                            <!-- BODY -->
        
                            <!-- BUTTON -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Delete Website</button>
                            </div>
                            <!-- BUTTON -->
        
                        </form>
                    </div>
                </div>

            </figure>

            <div class="clearfix"></div>
        </div>
    </div>
</div>





