{% load static %}
<div id="hidden-container" style="display: none;">
    {{users_img_urls_json}}
</div>
<div id="hidden-container2" style="display: none;">
    {{profile.user.username}}
</div>

<div class="w-100">
    <div role="main-inner-wrapper" class="container">
        <div class="row">
            <figure role="guide-content"> 

                <h1 role="guide-content">
                <a href="https://www.baidu.com/" title="百度" target="_blank">
                    <img src="{% static 'images/chat/baidu.png' %}" title="百度" alt="百度" class="guide-img"/>
                </a>
                <p>百度</p>
                </h1>

                <h1>
                <a href="https://i.sjtu.edu.cn/xtgl/login_slogin.html" title="学信网" target="_blank">
                    <img src="{% static 'images/chat/sjtu.png' %}" title="学信网" alt="学信网" class="guide-img"/>
                </a>
                <p>学信网</p>
                </h1>

                <h1>
                <a href="https://mail.sjtu.edu.cn/zimbra" title="交大邮箱" target="_blank">
                    <img src="{% static 'images/chat/j-mail.png' %}" title="交大邮箱" alt="交大邮箱" class="guide-img"/>
                </a>
                <p>交大邮箱</p>
                </h1>

                <h1>
                <a href="https://jbox.sjtu.edu.cn" title="交大云盘" target="_blank">
                    <img src="{% static 'images/chat/jbox.png' %}" title="交大云盘" alt="交大云盘" class="guide-img"/>
                </a>
                <p>交大云盘</p>
                </h1>

                <h1>
                <a href="https://poe.com/Sage" title="sage" target="_blank">
                    <img src="{% static 'images/chat/sage.png' %}" title="sage" alt="sage" class="guide-img"/>
                </a>
                <p>sage</p>
                </h1>

                <h1>
                <a href="https://drive.google.com/drive/my-drive" title="google drive" target="_blank">
                    <img src="{% static 'images/chat/google-drive.png' %}" title="google drive" alt="google drive" class="guide-img"/>
                </a>
                <p>google drive</p>
                </h1>

                <h1 role="guide-content">
                <a href="https://www.bing.com/" title="CSDN" target="_blank">
                    <img src="{% static 'images/chat/csdn.png' %}" title="CSDN" alt="CSDN" class="guide-img"/>
                </a>
                <p>CSDN</p>
                </h1>

                <h1>
                <a href="https://www.bilibili.com/" title="bilibili" target="_blank">
                    <img src="{% static 'images/chat/bilibili.png' %}" title="bilibili" alt="bilibili" class="guide-img"/>
                </a>
                <p>bilibili</p>
                </h1>

                <h1>
                <a href="https://v.qq.com/" title="腾讯视频" target="_blank">
                    <img src="{% static 'images/chat/tecent.png' %}" title="腾讯视频" alt="腾讯视频" class="guide-img"/>
                </a>
                <p>腾讯视频</p>
                </h1>


            </figure>

            <figure role="guide-content">
                {% for link in links %}
                  {% if forloop.counter|divisibleby:10 %}
                    </figure>
                    <figure role="guide-content">
                  {% endif %}
                  <h1>
                  <a href= {{link.url}}  target="_blank" title={{link.name}}>
                      <img src={{link.image_url}} class="guide-img" title={{link.name}} alt={{link.name}}>                         
                  </a>
                  <p>{{ link.name }}</p>
                  </h1>
                  {% endfor %}
                

                  <!-- add -->
                  <h1> 
                    <a id="add-website-button"> 
                      <img src="{% static "images/chat/jia.png" %}" alt="add" class="guide-img" 
                      style="width: 70px; height: 70px; margin-left: 10px; margin-right: 10px; "/>
                    </a>
                    <p>添加</p>
                  </h1> 


                  <!-- delete -->
                  <h1> 
                    <a id="delete-website-button"> 
                      <img src="{% static "images/chat/jian.png" %}" alt="delete" class="guide-img" 
                      style="width: 70px; height: 70px; margin-left: 10px; margin-right: 10px; "/>
                    </a>
                    <p>删除</p>
                  </h1> 
            </figure>
            
            <div class="clearfix"></div>
        </div>
    </div>
</div>





