{% extends 'chat/base.html' %}

<!-- side_menu -->
{% block side_menu %}
    {% include "chat/side_menus/side_menu_chatroom.html" %}
{% endblock %}
<!-- side_menu -->


<!-- leftsidebar -->
{% block leftsidebar %}
    {% include "chat/leftsidebar/leftsidebar_chatroom.html" %}
{% endblock %}
<!-- leftsidebar -->


<!-- body -->
{% block chat_conversation %}
    {% include "chat/body/body_chatroom.html" %}
{% endblock %}
<!-- body -->


<!-- rightsidebar -->
{% block chat_friend_info %}
    {% include "chat/rightsidebar/right_chatroom.html" %}
{% endblock %}
<!-- rightsidebar -->


    