{% extends 'chat/base.html' %}

<!-- side_menu -->
{% block side_menu %}
    {% include "chat/side_menus/side_menu_contracts.html" %}
{% endblock %}
<!-- side_menu -->


<!-- leftsidebar -->
{% block leftsidebar %}
    {% include "chat/leftsidebar/leftsidebar_contracts.html" %}
{% endblock %}
<!-- leftsidebar -->


<!-- chat -->
{% block chat_conversation %}
    {% include "chat/body/chat_conversation.html" %}
{% endblock %}
{% block chat_friend_info %}
    {% include "chat/rightsidebar/right_friend_info.html" %}
{% endblock %}
<!-- chat -->
    