<div class="user-profile-sidebar">

    <!-- CLOSE VIEW -->
    <div class="px-3 px-lg-4 pt-3 pt-lg-4">
        <div class="user-chat-nav text-right">
            <button type="button" class="btn nav-btn" id="user-profile-hide">
                <i class="ri-close-line"></i>
            </button>
        </div>
    </div>
    <!-- CLOSE VIEW -->

    <!-- BASIC INFO -->
    <div class="text-center p-4 border-bottom">
        <div class="mb-4">
            <img src={{cur_room.image_url}} class="rounded-circle avatar-lg img-thumbnail" alt="">
        </div>
        <h5 class="font-size-16 mb-1 text-truncate">{{cur_room.name}}</h5>
        <p class="text-muted text-truncate mb-1"><i class="ri-record-circle-fill font-size-10 text-success mr-1"></i> Active</p>
    </div>
    <!-- BASIC INFO -->
    
    <!-- DETAIl INFO -->
    <div class="p-4 user-profile-desc" data-simplebar="">

        <!-- PERSONAL SIGNATURE -->
        <div class="text-muted">
            <p class="mb-4">{{cur_room.about_room}}</p>
        </div>
        <!-- PERSONAL SIGNATURE -->

        <!-- PERSONAL INFO -->
        <div id="profile-user-accordion" class="custom-accordion">
            
            <!-- ABOUT CARD -->
            <div class="card shadow-none border mb-2">

                <!-- ABOUT DROPDOWN -->
                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                    <div class="card-header" id="headingOne">
                        <h5 class="font-size-14 m-0">
                            <i class="ri-group-2-line mr-2 align-middle d-inline-block"></i> About
                            <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                        </h5>
                    </div>
                </a>
                <!-- ABOUT DROPDOWN -->

                <!-- INFOMATION -->
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#profile-user-accordion">
                    <div class="card-body">
                        <div><p class="text-muted mb-1">Name</p><h5 class="font-size-14">{{cur_room.about_room}}</h5></div>
                        <div class="mt-4"><p class="text-muted mb-1">Owner</p><h5 class="font-size-14">{{cur_room.owner_name}}</h5></div>
                    </div>
                </div>
                <!-- INFOMATION -->

            </div>
            <!-- ABOUT CARD -->
            
            <!-- ATTACHED CARD -->
            <div class="card mb-1 shadow-none border">

                <!-- ATTACHED DROPDOWN -->
                <a href="#collapseTwo" class="text-dark collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="card-header" id="headingTwo">
                        <h5 class="font-size-14 m-0">
                            <i class="ri-group-line mr-2 align-middle d-inline-block"></i> Roomers
                            <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                        </h5>
                    </div>
                </a>
                <!-- ATTACHED DROPDOWN -->

                <!-- ATTACHED CONTENT -->
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#profile-user-accordion"><div class="card-body">
                    <select multiple class="form-control" id="onlineUsersSelector">
                    </select>
                </div>
                <!-- ATTACHED CONTENT -->

            </div>
            <!-- ATTACHED CARD -->

        </div>
        <!-- PERSONAL INFO -->

    </div>
    <!-- DETAIl INFO -->

</div>

