/* BASIC MAIN STYLE */

main[role="main-home-wrapper"], main[role="main-inner-wrapper"]{
	padding-bottom: 90px
}
main[role="main-home-wrapper"] article[role="pge-title-content"], 
main[role="main-inner-wrapper"] article[role="pge-title-content"] {
	padding-left: 41px
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header, 
main[role="main-inner-wrapper"] article[role="pge-title-content"] header {
	padding-bottom: 19px;
	padding-top: 83px
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header h2, 
main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 {
	font-size: 46px;
	line-height: 53px;
	color: #404040;
	font-weight: 800
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header h2 span, 
main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 span {
	display: block;
	font-size: 80px;
	color: #fb5353;
	padding-bottom: 15px
}
main[role="main-home-wrapper"] article[role="pge-title-content"] p, 
main[role="main-inner-wrapper"] article[role="pge-title-content"] p {
	font-size: 20px;
	line-height: 30px;
	color: #454545;
	text-indent: 2em;
	overflow-wrap: break-word;
}
main[role="main-inner-wrapper"] .about-content {
	background-color: #fb5353;
	padding-top: 57px;
	padding-left: 70px;
	padding-right: 67px;
	padding-bottom: 58px
}
main[role="main-inner-wrapper"] .about-content p {
	font-size: 17px;
	line-height: 30px;
	color: #FFF;
	padding-bottom: 20px
}
main[role="main-inner-wrapper"] .thumbnails-pan {
	padding-top: 30px
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure {
	background-color: #FFF;
	position: relative;
	overflow: hidden;
	cursor: pointer
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure, 
main[role="main-inner-wrapper"] .thumbnails-pan section figure, img, 
main[role="main-inner-wrapper"] .thumbnails-pan section figure figcaption, 
section.blog-content figure, 
section.blog-content figure img, 
section.blog-content article {
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure figcaption {
	position: absolute;
	bottom: -50%;
	left: 0;
	right: 0;
	background-color: #fb5353;
	margin: 0 69px;
	text-align: center;
	color: #FFF;
	padding-top: 16px;
	padding-bottom: 27px
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure figcaption h3 {
	font-size: 21px;
	line-height: 22px;
	font-weight: 300
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure figcaption h5 {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 14px;
	font-weight: bold
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure:hover, section.blog-content:hover article {
	background-color: #fb5353;
	color: #FFF
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure:hover img, section.blog-content:hover figure img {
	-webkit-transform: scale3d(1.08, 1.08, 2);
	transform: scale3d(1.08, 1.08, 2);
	opacity: 0.5
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure:hover figcaption {
	bottom: 0;
}


article[role="pge-title-content"].blog-header {
	padding-bottom: 218px
}
section.blog-content {
	margin-bottom: 29px
}
section.blog-content figure {
	overflow: hidden;
	position: relative;
	background-color: rgba(255,255,255,0.4);
	cursor: pointer
}
section.blog-content figure .post-date {
	text-align: center;
	color: #FFF;
	font-weight: 800;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	display: block;
	background-color: #fb5353;
	width: 130px;
	height: 130px;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 41px;
	z-index: 50
}
section.blog-content figure .post-date span {
	font-size: 50px;
	line-height: 35px;
	display: block
}
section.blog-content article {
	font-size: 21px;
	line-height: 30px;
	color: #FFF;
	font-weight: 800;
	color: #343434;
	padding-left: 42px;
	padding-top: 33px;
	padding-bottom: 31px;
}
section.blog-content:hover figure img {
	opacity: 0.5
}

.bog-header {
	padding-bottom: 62px
}
.bog-header h3, .comments-pan h3, .commentys-form h4 {
	color: #404040;
	font-weight: 800;
	padding-bottom: 24px;
	display: block
}
.bog-header h3 span {
	color: #fb5353
}
.bog-header h2 {
	font-size: 36px;
	font-weight: normal
}
.blog-details .enter-content {
	margin-top: 62px
}
.blog-details .enter-content p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	margin-bottom: 23px
}
.comments-pan {
	border-top: 2px solid #dedede;
	padding-top: 15px
}
.comments-pan h3 {
	border-bottom: 2px solid #dedede;
	padding-bottom: 34px;
	margin-bottom: 52px
}
.comments-reply, .reply-pan {
	padding: 0;
	margin: 0;
	list-style: none
}
.comments-reply li {
	display: block;
	border-bottom: 2px solid #dedede;
	overflow: hidden;
	padding-bottom: 51px;
	margin-bottom: 39px
}
.comments-reply li figure {
	float: left;
	width: 70px;
	background-color: #000
}
.comments-reply li section {
	float: left;
	padding-left: 30px;
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	color: #343434;
	width: 92%;
}
.comments-reply li section .date-pan {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 25px
}
.comments-reply li section h4 {
	font-weight: 800;
	color: #404040;
	font-size: 21px;
	margin-bottom: 6px;
	margin-top: 0
}
.comments-reply li section h4 a {
	font-size: 16px;
	color: #fb5353;
	font-weight: 400;
	display: inline-block;
	padding-left: 20px
}
.reply-pan {
	clear: both;
	display: block;
	margin-left: 100px;
	padding-top: 39px
}
.reply-pan li {
	border-bottom: none;
	border-top: 2px solid #dedede;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 38px;
}
.commentys-form h4 {
	font-size: 24px
}
.commentys-form form {
	margin-top: 30px
}
.commentys-form input[type="text"], .commentys-form input[type="email"], .commentys-form input[type="url"], .commentys-form textarea {
	font-size: 21px;
	line-height: 22px;
	color: #404040;
	padding-bottom: 26px;
	border-bottom: 2px solid #bbbbbb;
	width: 100%;
	display: block;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: transparent;
	outline: none
}
.commentys-form textarea {
	margin-top: 57px
}
.commentys-form input[type="text"]:focus, .commentys-form input[type="email"]:focus, .commentys-form input[type="url"]:focus, .commentys-form textarea:focus {
	border-bottom-color: #000
}
.commentys-form input[type="button"] {
	padding: 0 36px;
	text-transform: uppercase;
	display: inline-block;
	font-size: 21px;
	line-height: 60px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	border: none;
	outline: none;
	background-color: #fb5353;
	margin-top: 50px
}
.commentys-form input[type="button"]:hover {
	background-color: #ff5c5c
}