{% load static %}

<div class="side-menu flex-lg-column mr-lg-1">

<!-- SIDE BAR LOGO  -->
<div class="sidebar_logo">
    <a href="" class="logo logo-dark">
        <span class="logo-sm">
            <img src="{% static "images/chat/chat.png" %}" alt="" height="30">
        </span>
    </a>
    <a href="" class="logo logo-light">
        <span class="logo-sm">
            <img src="{% static "images/chat/chat.png" %}" alt="" height="30">
        </span>
    </a>
</div>
<!-- SIDE BAR LOGO  -->

<!-- SIDE BAR TOOLS  -->
<div class="flex-lg-column my-auto">
    <ul class="nav nav-pills side-menu-nav justify-content-center" role="tablist">
        <li class="nav-item" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Profile">
            <a href="{% url 'chat:my' %}?{{'dark'}}={{dark}}" class="nav-link" id="pills-user-tab" role="tab">
            <i class="ri-user-3-line"></i>
        </a></li>
        <li class="nav-item" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Chats">
            <a href="{% url 'chat:chat'%}?{{'dark'}}={{dark}}" class="nav-link" id="pills-chat-tab" role="tab">
            <i class="ri-message-3-line"></i>
        </a></li>
        <li class="nav-item" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Groups">
            <a href="{% url 'chat:groups'%}?{{'dark'}}={{dark}}" class="nav-link active" id="pills-groups-tab" role="tab">
            <i class="ri-group-line"></i>
        </a></li>
        <li class="nav-item" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Chatroom">
            <a href="{% url 'chat:chatroom'%}?{{'dark'}}={{dark}}" class="nav-link" id="pills-chatroom-tab" role="tab">
            <i class="ri-group-2-line"></i>
        </a></li>
        <li class="nav-item" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Contacts">
            <a href="{% url 'chat:contracts'%}?{{'dark'}}={{dark}}" class="nav-link" id="pills-contacts-tab" role="tab">
            <i class="ri-contacts-line"></i>
        </a></li>
        <li class="nav-item" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Settings">
            <a href="{% url 'chat:settings'%}?{{'dark'}}={{dark}}" class="nav-link" id="pills-setting-tab"  role="tab">
            <i class="ri-settings-2-line"></i>
        </a></li>

        <li class="nav-item dropdown profile-user-dropdown d-inline-block d-lg-none">
            <a class="nav-link dropdown-toggle" href="javascript: void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="static/picture/avatar-1.jpg" alt="" class="profile-user rounded-circle">
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Profile <i class="ri-profile-line float-right text-muted"></i></a>
                <a class="dropdown-item" href="#">Setting <i class="ri-settings-3-line float-right text-muted"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log out <i class="ri-logout-circle-r-line float-right text-muted"></i></a>
            </div>
        </li>
    </ul>
</div>
<!-- SIDE BAR TOOLS  -->

<!-- SIDE BAR MANAGE  -->
<div class="flex-lg-column d-none d-lg-block">
    <ul class="nav side-menu-nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" id="light-dark" href="{% url 'chat:groups'%}?{{'dark'}}={{light}}" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="Dark / Light Mode">
                <i class="ri-sun-line theme-mode-icon"></i>
            </a>
        </li>
        <li class="nav-item btn-group dropup profile-user-dropdown">
            <a class="nav-link dropdown-toggle normal_container" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ profile.image_url }}"  alt="" class="profile-user rounded-circle">
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'users:log'%}">Log out <i class="ri-logout-circle-r-line float-right text-muted"></i></a>
            </div>
        </li>
    </ul>
</div>
<!-- SIDE BAR MANAGE  -->

</div>
