{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>login</title>
    <link rel="stylesheet" href={% static "css/users/log.css" %}>
    <link rel="stylesheet" href={% static "css/fonts/fonts.css" %}>
    <link rel="stylesheet" href={% static "css/fonts/icons-selected.min.css" %}>
    <link rel="stylesheet" href={% static "css/users/log.css" %}>
    <script src={% static "js/heatingma/jquery.min.js" %}></script>


</head>
<body>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form class="register-box hidden" method="post">
				 {% csrf_token %}
				<h1 style="margin-bottom: 40px;">Create Account</h1>
				<div class="input-box">
                    <input name="username" type="text" placeholder="Input Username"
                    value='{{ register_form.usename.value|default:"" }}'>
                    <span class="msg"></span>
                </div>
				<div class="input-box">
                    <input name="email" type="text" placeholder="Input Email"
                    value='{{ register_form.email.value|default:"" }}'>

                    <span class="msg"></span>
                    <div class="invalid-feedback">{{ form.email.errors }}</div>
                </div>
                <div class="input-box-code">
                    <input name="email_code" type="text" placeholder="Verification Code"
                    value='{{ register_form.email_code.value|default:"" }}'>
                    <button class="code" type="button">Send</button>
                    <span name="email_code-msg" class="msg"></span>
                </div>
                <input name="last_email_code" type="hidden" id="test_code">
                <div class="input-box">
                    <input name="password1" type="password" placeholder="Input Password"
                    value='{{ register_form.password1.value|default:"" }}'>
                    <span class="msg"></span>
                </div>
                <div class="input-box">
                    <input name="password2" type="password" placeholder="Confirm Password"
                    value='{{ register_form.password2.value|default:"" }}'>
                    <span class="msg"></span>
                </div>
				<button class="register-button" name="submit-register" type="submit">REGISTER</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form class="login-box" method="post">
                {% csrf_token %}
                <h1 style="margin-bottom: 50px; font-size:40px">Login</h1>
                <div class="input-box">
                    <input name="login_email" type="text" placeholder="Input Email"
                    value='{{ login_form.login_email.value|default:"" }}'>
                    <span class="msg"></span>
                </div>
                <div class="input-box">
                    <input name="login_password" type="password" placeholder="Input Password"
                    value='{{ login_form.login_password.value|default:"" }}'>
                    <span class="msg"></span>
                </div>
                <button type="submit" class="register-button" name="submit-login" style="margin-top: 40px;">LOGIN</button>
                <button type="button" > <a href="{% url 'users:index' %}" style="color: white;"> HOME </a> </button>
            </form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<!-- <p>To keep connected with GNet, please login with your personal info</p> -->
                    <p style="margin-bottom: 2px;">To keep connected with GNet, </p>
                    <p style="margin-top: 2px;">please login with your personal info</p>
                    <button class="ghost" id="signIn" style="width: 160px;" >Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, GNFriend!</h1>
					<p style="margin-bottom: 2px;">Enter your personal details</p>
                    <p style="margin-top: 2px;">and start journey with GNet</p>
					<button class="ghost" id="signUp" style="width: 160px;">Sign Up</button>
				</div>
			</div>
		</div>
	</div>

    {% if username_errors %}
     <div class="error-box" style="width:250px; height:165px">
         <div class="error-body">
             {% for error in username_errors %}
                 <p>{{ error }}</p>
             {% endfor %}
         </div>
         <div class="error-close">
             <button id="close">
                 <i class="ri-close-fill"></i>
             </button>
         </div>
     </div>
     {% elif email_errors %}
         <div class="error-box" style="width:250px; height:165px">
             <div class="error-body">
                 {% for error in email_errors %}
                     <p>{{ error }}</p>
                 {% endfor %}
             </div>
             <div class="error-close">
                 <button id="close">
                     <i class="ri-close-fill"></i>
                 </button>
             </div>
         </div>
     {% elif password_errors %}
         <div class="error-box">
             <div class="error-body">
                 {% for error in password_errors %}
                     <p>{{ error }}</p>
                 {% endfor %}
             </div>
             <div class="error-close">
                 <button id="close">
                     <i class="ri-close-fill"></i>
                 </button>
             </div>
         </div>
     {% elif login_error %}
         <div class="error-box" style="width:260px; height:150px">
             <div class="error-body">
                 <p>{{ login_error }}</p>
             </div>
             <div class="error-close">
                 <button id="close">
                     <i class="ri-close-fill"></i>
                 </button>
             </div>
         </div>
     {% endif %}

</body>

<script src={% static "js/users/log.js" %}></script>

</html>