{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>login</title>
    <link rel="stylesheet" href={% static "css/users/log.css" %}>
    <link rel="stylesheet" href={% static "css/fonts/fonts.css" %}>
    <link rel="stylesheet" href={% static "css/fonts/icons-selected.min.css" %}>
    <link rel="stylesheet" href={% static "css/users/log.css" %}>
    
</head>

<body>
    <div class="container">
        <div class="form-box">
            <!-- register -->
            <form class="register-box hidden" method="post">
                {% csrf_token %}
                <h1>register</h1>
                <div class="input-box">
                    <input name="username" type="text" placeholder="设置用户名"
                    value='{{ register_form.usename.value|default:"" }}'>
                    <span class="msg"></span>
                </div>
                <div class="input-box">
                    <input name="email" type="text" placeholder="输入合法的邮箱"
                    value='{{ register_form.email.value|default:"" }}'>
                    <span class="msg"></span>
                    <div class="invalid-feedback">{{ form.email.errors }}</div>
                </div>
                <div class="input-box-code">
                    <input name="email_code" type="text" placeholder="邮箱验证码"
                    value='{{ register_form.email_code.value|default:"" }}'>
                    <a class="code" href="javascript:;">发送验证码</a>
                    <span name="email_code-msg" class="msg"></span>
                </div>
                <div class="input-box">
                    <input name="password1" type="password" placeholder="输入密码"
                    value='{{ register_form.password1.value|default:"" }}'>
                    <span class="msg"></span>
                </div>  
                <div class="input-box">
                    <input name="password2" type="password" placeholder="确认密码"
                    value='{{ register_form.password2.value|default:"" }}'>
                    <span class="msg"></span>
                </div>
                <button name="submit-register">REGISTER</button>
            </form>
            <!-- login -->
            <form class="login-box" method="post">
                {% csrf_token %}
                <h1>login</h1>
                <div class="input-box">
                    <input name="login_email" type="text" placeholder="输入邮箱"
                    value='{{ login_form.login_email.value|default:"" }}'>
                    <span class="msg"></span>
                </div>
                <div class="input-box">
                    <input name="login_password" type="password" placeholder="输入密码"
                    value='{{ login_form.login_password.value|default:"" }}'>
                    <span class="msg"></span>
                </div>  
                <button name="submit-login" style="margin-top: 40px;">LOGIN</button>
                <button name="return">RETURN</button>
            </form>
        </div>
        <div class="con-box left">
            <h2><span>Welcome</span></h2>
            <p style="font-weight: bold;">to chatting room</p>
            <img src={% static "images/users/cat.jpg" %} alt="cat">
            <p>Have Account</p>
            <button id="login">Login</button>
        </div>
        <div class="con-box right">
            <h2><span>Welcome</span></h2>
            <p style="font-weight: bold;">to chatting room</p>
            <img src={% static "images/users/deer.png" %} alt="deer">
            <p>No Account?</p>
            <button id="register">REGISTER</button>
        </div>
    </div>

    {% if username_errors %}
    <div class="error-box" style="width:250px; height:120px">
        <div class="error-body">
            {% for error in username_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="error-close">
            <button id="close">
                <i class="ri-close-fill"></i>
            </button>
        </div>
    </div>
    {% elif email_errors %}
        <div class="error-box" style="width:250px; height:120px">
            <div class="error-body">
                {% for error in email_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="error-close">
                <button id="close">
                    <i class="ri-close-fill"></i>
                </button>
            </div>
        </div>
    {% elif password_errors %}
        <div class="error-box">
            <div class="error-body">
                {% for error in password_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="error-close">
                <button id="close">
                    <i class="ri-close-fill"></i>
                </button>
            </div>
        </div>
    {% elif login_error %}
        <div class="error-box" style="width:200px; height:120px">
            <div class="error-body">
                <p>{{ login_error }}</p>
            </div>
            <div class="error-close">
                <button id="close">
                    <i class="ri-close-fill"></i>
                </button>
            </div>
        </div>
    {% endif %}
</body>

<script>
// register & login box  
    let login=document.getElementById('login');
    let register=document.getElementById('register');
    let form_box=document.getElementsByClassName('form-box')[0];
    let register_box=document.getElementsByClassName('register-box')[0];
    let login_box=document.getElementsByClassName('login-box')[0];
    register.addEventListener('click',()=>{
        form_box.style.transform='translateX(80%)';
        login_box.classList.add('hidden');
        register_box.classList.remove('hidden');
    })
    login.addEventListener('click',()=>{
        form_box.style.transform='translateX(0%)';
        register_box.classList.add('hidden');
        login_box.classList.remove('hidden');
    })
</script>

<script>
    // send code
    const send_code = document.querySelector('.code')
    let send_flag = false
    send_code.addEventListener('click', function() {
        email_code_msg.innerHTML = '功能未完全开发, 请随机输入6位数字'
        if (send_flag == false){
            send_flag = true
            let left_seconds = 60
            send_code.innerHTML = `${left_seconds}秒后重新发送`
            let timerId = setInterval(function() {
                left_seconds --
                send_code.innerHTML = `${left_seconds}秒后重新发送`
                if (left_seconds === 0){
                    send_flag = false
                    clearInterval(timerId)
                    send_code.innerHTML = "重新获取"
                }
            }, 1000)
        }
    })
</script>

<script>
    // LOGIN-Name
    const login_email = document.querySelector('[name=login_email]')
    login_email.addEventListener('change', CheckLoginEmail)
    function CheckLoginEmail(){
        const msg = login_email.nextElementSibling
        msg.innerHTML = ''
        return true
    }
</script>

<script>
    // LOGIN-PSD
    const login_psd = document.querySelector('[name=login_password]')
    login_psd.addEventListener('change', CheckLoginPsd)
    function CheckLoginPsd(){
        const msg = login_psd.nextElementSibling
        msg.innerHTML = ''
        return true
    }
</script>

<script>
    // verifyName
    const username = document.querySelector('[name=username]')
    username.addEventListener('change', verifyName)
    function verifyName(){
        const reg = /^[a-zA-Z0-9-_]{6,20}$/
        const msg = username.nextElementSibling
        if (!reg.test(username.value)){
            msg.innerHTML = '输入不合法, 请输入6~20位'
            return false
        }
        msg.innerHTML = ''
        return true
    }
</script>

<script>
// verifyMail
    const email = document.querySelector('[name=email]')
    email.addEventListener('change', verifyMail)
    function verifyMail(){
        const reg = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/
        const msg = email.nextElementSibling
        if (!reg.test(email.value)){
            msg.innerHTML = '邮箱不合法, 请输入正确的邮箱'
            return false
        }
        msg.innerHTML = ''
        return true
    }
</script>

<script>
// verifyCode
    const code = document.querySelector('[name=email_code]')
    const email_code_msg = document.querySelector('[name=email_code-msg]')
    code.addEventListener('change', verifyCode)
    function verifyCode(){
        const reg = /^\d{6}$/
        if (!reg.test(code.value)){
            email_code_msg.innerHTML = '功能未完全开发, 请随机输入6位数字'
            return false
        }
        email_code_msg.innerHTML = ''
        return true
    }
</script>

<script>
// verifyPassword
    const psd = document.querySelector('[name=password1]')
    psd.addEventListener('change', verifyPassword)
    function verifyPassword(){
        const reg = /^[a-zA-Z0-9-_]{6,20}$/
        const msg = psd.nextElementSibling
        if (!reg.test(psd.value)){
            msg.innerHTML = '输入不合法, 请输入6~20位'
            return false
        }
        msg.innerHTML = ''
        return true
    }
</script>

<script>
// CheckPassword
    const check_psd = document.querySelector('[name=password2]')
    check_psd.addEventListener('change', CheckPassword)
    function CheckPassword(){
        const msg = check_psd.nextElementSibling
        if (psd.value === check_psd.value){
            msg.innerHTML = ''
            return true
        }
        msg.innerHTML = '两次密码输入不一致'
        return false
    }
</script>

<script>
    // Submit Register
    const submit_register = document.querySelector('[name=submit-register]')
    let register_flag = true
    submit_register.addEventListener('click', function(e){
        register_flag = true
        if (!verifyName()) register_flag = false
        if (!verifyMail()) register_flag = false
        if (!verifyCode()) register_flag = false
        if (!verifyPassword()) register_flag = false
        if (!CheckPassword()) register_flag = false
        if (register_flag == false)
            e.preventDefault()
    })
</script>

<script>
    // Submit Login
    const submit_login = document.querySelector('[name=submit-login]')
    let login_flag = true
    submit_login.addEventListener('click', function(e){
        login_flag = true
        if (!CheckLoginEmail()) login_flag = false
        if (!CheckLoginPsd()) login_flag = false
        if (login_flag == false)
            e.preventDefault()
    })
</script>

<script>
    // Return Home 
    const return_home = document.querySelector('[name=return]')
    return_home.addEventListener('click', function(){
            window.location.href = 'index.html';
    })
</script>

<script>
// close the error box
    var closeButton = document.getElementById('close');
    closeButton.addEventListener('click', function() {
        var errorBox = this.closest('.error-box');
        if (errorBox) {
            errorBox.style.display = 'none';
        }
    });
</script>

</html>